a{
  margin: 0;
}

a:hover{
  background-color: #222;
}

body{
  text-align: center;
  min-height: 50vw;
  font-family: Papyrus, fantasy;
  font-size: 2vw;
  color: #fff;
}

hr{
  color: #fff;
}

button{
  font-family: inherit;
}

.btn{
  border: none;
  border-radius: 15px;
  width: 90px;
  height: inherit;
  font-size: 19px;
  font-family: inherit;
  font-weight: bolder;
}

.btn:hover{
  background-color: #999;
}

img{
  width: 30px;
  height: auto;
  margin-left: 5px;
  margin-bottom: 0;
}

.top_btn{
  width: 30%;
  border: none;
  font-size: 30px;
  color: #fff;
  background-color: inherit;
}

h1{
  font-size: 9vw;
  margin: 30px;
}

h2{
  font-size: 5vw;
  margin: 30px auto;
}

.rezilta{
  font-size: 50px;
  margin-top: 7%;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
